/* Sidebar */
.sidebar {
  background-image: #ececec;
  color: #000;
  height: 100vh;
  overflow-y: auto;
}

.logo {
  font-size: 18px;
  line-height: 0;
}
.bars {
  width: 30px;
  cursor: pointer;
}
.hide {
  display: none;
}

.link {
  display: flex;
  color: #000;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  font-size: 24px;
}
.link:hover {
  border-right: 4px solid #000;
  background: #e86f43;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid white;
  background: #de58b3;
}
.link_text {
  white-space: nowrap;
  font-size: 15px;
  cursor: pointer;
}

.menu {
  display: flex;
  color: #000;

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
  cursor: pointer;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}